@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@media(max-width: 576px) {
  .container {
    width: 500px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 600px;
  }
}
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

body {
  font-family: 'Lora', serif;
  color: #494949;
  line-height: 1.6;
  margin: 0;
  font-weight: lighter;
  font-size: 18px;
}

.banner {
  background-image: url(https://source.unsplash.com/user/erondu/1600x900);
  background-size: cover;
  text-align: center;
  padding: 120px 0;
  color: white;
  font-size: 25px;
}

.container {
  text-align: justify;
  width: 700px;
  margin: 50px auto;
  font-size: 20px;
}

.link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}

a:hover {
  background-color: rgba(125, 255, 179, 50%);
}

a {
  text-decoration: none;
}
